/* Reset css cơ bản*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    /* Để 1 rem= 10px */
    font-size: 62.5%;
}
body{
    background: #754dcc;
}

.color--red{
    color: #ef4444
}

/* css nút bấm mở modal */
.open-btn{
    position: absolute;
    display: inline-block;
    /* căn giữa nút ra giữa toàn trang*/
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 20rem;
    height: 5rem;
    line-height: 5rem;
    text-align: center;
    background: #f05123;
    color: #fff;
    font-size: 1.6rem;

    border-radius: 2rem;
}
.open-btn:hover{
    background:#d8431c;
}

/* nền phủ modal */
.overlay{
    display: none;
    position: relative;
    width: 100%;
    height: 100vh;
}
/* nền phủ modal để bấm vào thì tắt modal*/
 .backdrop{
    position: absolute;
    background-color: rgba(0, 0, 0,0.5);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
/* logic active khi bấm nút  thì hiện modal */
#modal-toggle:checked ~ .overlay{
    display: block;
}

/* css khung form */
.container{
    position: absolute;
    width: 50rem;
    height: 60rem;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 2rem;
}

.form{
    margin: 3rem;
}
/* Tiêu đề form */
.modal-title{
   text-align: center;
    width: 100%;

    font-size: 1.6rem;

}

.modal-title h1{
    margin-bottom: 1rem;
    color: #1e293b;
}

.modal-title p{
    color:#64748b;
    margin-bottom: 2rem;
}

.modal-title label{
    position: absolute;
    top:2rem;
    right: 4rem;
}

.modal-content{
    font-size: 1.6rem;

}

/* ô nhập thông tin */
.modal-content__info input{
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    padding: 1rem;
    width: 100%;
    border-radius: 1rem;
    border: 0.1rem solid gray;
    background-color: #f8fafc;
}

.courses__title{
    margin-bottom: 0.5rem;
}

.modal-content__courses  label{

margin-left: 1rem;
    line-height: 1.5;

}
.tooltip-text{
    display: none;


}
/* khi di chuột thì hiện tooltip */
#fullName:hover ~ .tooltip-text{
    display: block;
    position: absolute;
    top: 7rem;
}

#phone:hover ~ .tooltip-text{
    display: block;
    position: absolute;
    top: 14rem;
}

#email:hover ~ .tooltip-text{
    display: block;
    position: absolute;
    top: 22rem;
}

.html-css:hover ~ .tooltip-text{
    display: block;
    position: absolute;
    top: 32rem;
}
.javascript:hover ~ .tooltip-text{
    display: block;
    position: absolute;
    bottom: 21rem;
}

.front-end:hover ~ .tooltip-text{
    display: block;
    position: absolute;
    bottom: 19rem;
}

.reactjs:hover ~ .tooltip-text{
    display: block;
    position: absolute;
    bottom: 16.5rem;
}

.support:hover ~ .tooltip-text{
    display: block;
    position: absolute;
    bottom: 14rem;
}
/* tooltip gợi ý*/
.tooltip-text__content{
    background-color: #1e293b;
    display: inline-block;
    padding: 1rem;
    border-radius: 0.5rem;
    color: white;
}
/* Tạo hình tam giác nhỏ dứoi tooltip*/
.triangle{
    position: absolute;
   bottom: -1.4rem;
    left: 2rem;
    width: 0;
    border-top: 0.8rem solid #1e293b;
    border-left: 0.8rem solid transparent;
    border-right: 0.8rem solid transparent;
    border-bottom: 0.8rem solid transparent;
}

/* nút bấm nộp form */

.submit-btn{
    position: absolute;
    left: 3rem;
    right: 3rem;
    bottom: 5rem;
    margin: auto;
    text-align: center;
    font-size: 1.6rem;
    background-color: #a855f7;

        padding: 1rem 5rem;

        color: white;
        border-radius: 2rem;
        border: none;

}
.submit-btn:hover{
    background-color: #9333ea;
}

