*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #754dcc;
}
.check{
    display: none;
}

.open-btn{
    position: absolute;
    display: inline-block;

    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #f17d34;
    color: #fff;

    border-radius: 20px;
}

.submit-btn{
    padding: 10px 50px;
    background-color: #8e05ea;
    color: white;
    border-radius: 20px;
}