/* Reset css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* css chung cho khung */
body{
    margin: 40px;
}

.container-title{
    margin: 30px 0 10px 0;
    font-weight: bold;
}
.container{
    width: 600px;
    height: 200px;
    border: 2px solid red;
}

.box-1,.box-2,.box-3{
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: #3a73d1;
}

.container-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-2{
    display: flex;
    justify-content: space-between;
}